/*Styling the placing of content in the page*/
main{
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
}

/*Styling the banner*/
.banner img{
    width: 100%;
    height: 600px;
}

/*Styling the images*/
img{
    width: 200px;
    height: 200px;
}

/*Styling Order section*/
.order,
.items select option{
    display: flex;
    padding: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15pt;
    color: #000;
}

/*Styling the items*/
.items{
    border: 3px solid #000;
    border-radius: 10px;
    background-color: #fffdd0;
    flex: 5px;
    padding: 5px;
    margin: 3px;
    text-align: center;
}

/*Styling heading 1*/
h1{
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
}

.show{
    display: block;
}

/*Styling the table*/
table{
    width: 100%;
    padding: 20px;

}

/*Styling the table head and table data */
thead, td{
    border: 3px solid #5bb963;
    text-align: center;
}


/*Styling the table head text*/
table thead tr td{
    font-size: 18pt;
    font-weight: 600;
}

/*Styling the text in table data*/
td{
    font-size: 15pt;
}

/*Styling the text in the table data in the table footer*/
tfoot tr td{
    font-style: italic;
    font-weight: bolder;
}

button{
    padding: 10px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 16pt;
    color: #000;
    background-color: #fff;
    transition: all ease 0.5s;
    display: block;
    margin: auto;

    /*Styling the buttons when the cursor hovers over it*/
    &:hover{
        background-color: #fffdd0;
        color: #000;
    }
}

/*Styling the add to favorites & apply favorites buttons*/
.Favbuttons{
    display: flex;
}


/*Mobile Responsiveness*/

/*Responsiveness at 1220px*/
@media screen and (max-width: 1220px) {

    /*Styling the placing of content in the page*/
    main{
        width: 95%;
        padding: 5px 0;
    }

    /*Styling the images*/
    img{
        width: 150px;
        height: 150px;
    }
}

/*Responsiveness at 1030px*/
@media screen and (max-width: 1030px) {

    /*Styling the margin of the page*/
    main{
       margin: 10px 5px;
    }

    /*Styling Order section*/
    .order,
    .items select option{
        padding: 10px;
        
    }
}

/*Responsiveness at 1000px*/
@media screen and (max-width: 1000px) {

    /*Styling the items section*/
    .items{
        flex: 3px;
        padding: 2px;
        margin: 1px;
    }
}

/*Responsiveness at 970px*/
@media screen and (max-width: 970px) {

    /*Styling the order section*/
    .order{
        flex-direction: column;
    }
}

/*Resposiveness at 768px*/
@media screen and (max-width: 768px) {
    
    /*Styling the banner*/
    .banner img{
        height: 400px;
    }
}

/*Table at 430px Responsiveness*/
@media screen and (max-width: 430px) {

    /*Styling the table*/
    table{
        margin: 0;
        padding: 10px;
    }
    
    /*Styling the table head and table foot*/
    table thead tr td,
    table tfoot tr td{
        font-size: 12pt;
    }

    /*Styling the table body*/
    table tbody tr td{
        font-size: 10pt;
    }

    /*Styling the buttons*/
    button{
        font-size: 13pt;
        padding: 5px;
    }

    /*Styling the banner*/
    .banner img{
        height: 300px;
    }
}